
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Admin Page</h2>

<div>
    <a class="btn btn-default" href="@Url.Action("CustomerDetails", "Admin")" role="button">Go to Customer Details</a>

</div>
