################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetBankingApp/NetBankingApp/bin
/NetBankingApp/NetBankingApp/obj/Debug
