
@{
    ViewBag.Title = "Index";
}

<div style="text-align :center">
    <h1>Welcome to the NetBankig App!</h1>

    <a class="btn btn-default" href="@Url.Action("Login", "Login")" role="button">Go to Login Page</a>
</div>



