
@{
    ViewBag.Title = "Login";
}


<div style="text-align : center">
    <h2>Login Page</h2>

    <a class="btn btn-default" href="@Url.Action("AdminLogin", "Login")" role="button">Login as Admin</a>
    <a class="btn btn-default" href="@Url.Action("CustomerLogin", "Login")" role="button">Login as Customer</a>
</div>
